<ion-header>
  <ion-toolbar>
    <ion-title>Prueba API EN LATIN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  @for(dato of datos; track dato) {

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{dato.title}}</ion-card-title>
        <ion-card-subtitle>id ='{{dato.id}}'</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{dato.body}}
      </ion-card-content>
      <ion-button href="https://jsonplaceholder.typicode.com/guide/" expand="block" > PINCHAME :33 MAS INFO</ion-button>
    </ion-card>

    
  }

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>kkk</ion-title>
  </ion-toolbar>
</ion-footer>
